@font-face {
    font-family: MoonWalk;
    src: url(../fonts/Moon\ Walk.ttf);
}

body {
    background-color: var(--mainColor);
    padding: 0;
    margin: 0;
}

:root {
    --mainColor: #222222;
    --headFont: MoonWalk;
    --innerNavColor: #344055;
    --productContainerColor: #102B3F;
}

header {
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/dj.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    font-family: var(--headFont);
}

#productBox {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#innerNav {
    height: 80vh;
    width: 20%;
    background-color: var(--innerNavColor);
    
}

#productContainer {
    height: 80vh;
    width: 80%;
    background-color: var(--productContainerColor);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.products {
    height: 20vh;
    width: 90%;
    background-color: #8693AB;
    color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2vh;
    margin-top: 2vh;
    padding: 1vh;
}