@font-face {
    font-family: MoonWalk;
    src: url(../fonts/Moon\ Walk.ttf);
}

@font-face {
    font-family: Sansation;
    src: url(../fonts/Sansation-Regular.ttf);
}

body {
    background-color: var(--mainColor);
    padding: 0;
    margin: 0;
}

:root {
    --mainColor: #222222;
    --headFont: MoonWalk;
    --innerNavColor: #344055;
    --productContainerColor: #102B3F;
    --productFont: Sansation;
}

header {
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/dj.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    font-family: var(--headFont);
}

nav {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4281A4;
    font-size: 2rem;
}

nav > div {
    height: auto;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}



a {
    color: white;
    text-decoration: none;
}

#productBox {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
}

#innerNav {
    height: 150vh;
    width: 20%;
    background-color: var(--innerNavColor);   
}

#search {
    height: 10vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
}

#search > input {
    height: 4vh;
    width: 30vh;
    background-color: transparent;
    border: white 3px solid;
    border-radius: 1vh;
    color: white;
    font-size: 1.2rem;
}

#search > img {
    height: auto;
    width: 15%;
}

#productContainer {
    height: 150vh;
    width: 80%;
    background-color: var(--productContainerColor);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.products {
    height: 20vh;
    width: 90%;
    background-color: #8693AB;
    text-align: right;
    color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2vh;
    margin-top: 1vh;
    font-family: var(--productFont);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productText {
    padding: 1vh;
    height: auto;
    width: 50%;
}

.productImg {
    height: 20vh;
    width: 50%;
    border-radius: 1vh;
    clip-path: polygon(0 0, 94% 0, 74% 100%, 0% 100%);
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
}

.productImg:hover {
    width: 70%;
}