@font-face {
    font-family: Altorned;
    src: url(../fonts/altroned-trial.regular.ttf);
}

@font-face {
    font-family: NotoMusic;
    src: url(../fonts/NotoMusic.ttf);
}

@font-face {
    font-family: Siara;
    src: url(../fonts/SairaCondensed-Regular.ttf);
}

body {
    margin: 0;
    background-color: var(--mainColor);
}

a {
    color: white;
    text-decoration: none;
}

:root {
    --mainColor: #222222;
    --navColor: #4A30F2;
    --mainGradient: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 45%, rgba(0, 212, 255, 1) 100%);
    --gameGradinent: linear-gradient(69deg, rgba(63, 94, 251, 1) 0%, rgba(153, 83, 182, 1) 41%, rgba(252, 70, 107, 1) 100%);
    --headfont: Altorned;
    --mainFont: NotoMusic;
    --gameFont: Siara;
}

header > img {
    height: auto;
    width: 100%;
}

nav {
    height: 10vh;
    width: 100%;
    background-color: var(--navColor);
    display: flex;
    justify-content: space-around;
    margin-top: -1vh;
}

.navItem {
    height: 10vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3vh;
    transition: background-color 1s ease-in-out;
    user-select: none;
    font-family: var(--mainFont);
}

.navItem:hover {
    background-color: #111baa;
}

#headBox {
    height: 30vh;
    width: 100%;
    background: #3F5EFB;
    background: var(--gameGradinent);
    margin-top: -3vh;
    color: white;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--headfont);
}

#gameContainer {
    height: 80vh;
    width: 80%;
    background: #3F5EFB;
    background: var(--gameGradinent);
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gameFont);
    position: relative;
}

#game {
    display: none;
}

#rules {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/guessTheSong/titlepicture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2vh;
    font-family: var(--gameFont);
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.switch {
    animation: switchToGame 2s ease-in-out;
}

@keyframes switchToGame {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.switchToRules {
    animation: switchToRules 2s ease-in-out;
}

@keyframes switchToRules {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#ruleButton {
    height: 5vh;
    width: 10vw;
    background-color: rgba(219, 24, 63, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2vh;
    color: white;
    font-size: 2vh;
}

#ruleButtonBox {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 50vh;
}

.startButton {
    height: 10vh;
    width: 20vw;
    background: #3F5EFB;
    background: var(--gameGradinent);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    user-select: none;
}

#disk {
    height: auto;
    width: 35vh;
    margin-bottom: 25vh;
}

.diskAnimation {
    animation: spinDisk linear infinite 3s;
}

@keyframes spinDisk {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#nameButtonBox {
    position: absolute;
    top: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    left: 0;
    font-size: 2vh;
}

#coverButtonBox {
    position: absolute;
    top: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    left: 0;
}

.coverGuessButtons {
    height: 25vh;
    width: 25vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23vh;
    color: white;
    border-radius: 2vh;
}

.guessButtons {
    height: 10vh;
    width: 25vw;
    background-color: #3F5EFB;    
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid #1c1cb1;
}

.countBox {
    height: 10vh;
    width: 10vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4vh;
}

/*Responsive*/
@media (max-width: 600px) {
    #headBox {
        height: 15vh;
    }

    #headBox > h1 {
        font-size: 3vh;
    }

    nav {
        display: block;
        margin-bottom: 20vh;
    }

    .navItem {
        width: 100%;
        height: 6vh;
        background-color: var(--navColor);
    }

    .navItem > a {
        font-size: 2vh;
    }

    #rules {
        font-size: 2vh;
    }

    #disk {
        height: auto;
        width: 70%;
        margin-left: 15%;
    }

    .startButton {
        width: 15vh;
    }

    .guessButtons {
        width: 13vh;
        font-size: 2vh;
        padding: 1vh;
    }

    #coverButtonBox {
        margin-top: 5vh;
    }

    .coverGuessButtons {
        width: 10vh;
        padding: 1vh;
        font-size: 10vh;
        height: 20vh;
    }

    #ruleButton {
        border-radius: 1vh;
    }

    .countBox {
        font-size: 2vh;
        text-align: center;
    }
}