@font-face {
    font-family: NotoMusic;
    src: url(../fonts/NotoMusic.ttf);
}

@font-face {
    font-family: IntrumentSans;
    src: url(../fonts/InstrumentSans-Regular.ttf);
}

:root {
    --mainColor: #222222;
    --mainFont: NotoMusic;
    --intrumentFont: IntrumentSans;
    --secondColor: #000080;
}

body {
    background-color: var(--mainColor);
    margin: 0;
    overflow: hidden;
}

#headlineBox {
    color: white;
    font-family: var(--mainFont);
    height: 60vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3vh;
    background: rgb(52, 21, 57);
    background: linear-gradient(90deg, rgba(52, 21, 57, 1) 30%, rgba(25, 25, 112, 1) 72%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 11%;
    z-index: 1;
}

#eGuitar {
    height: auto;
    width: 62vh;
    transform: rotate(-68.607deg);
    aspect-ratio: 571/185;
    position: absolute;
    top: 19vh;
    left: 28vh;
    z-index: -1;
}

#acousticGuitar {
    height: auto;
    width: 25vh;
    position: absolute;
    top: -1vh;
    right: 45vh;
    transform: rotate(-24.98deg);
    aspect-ratio: 232.15/588.07;
    z-index: -1;
}

#djController {
    height: auto;
    width: 50vh;
    left: 90vh;
    z-index: -1;
    transform: rotate(18.267deg);
    position: absolute;
    top: 1vh;
}

#laptopFL,
#laptopLive {
    height: auto;
    width: 35vh;
}

#laptopFL {
    position: absolute;
    top: 64vh;
    left: 30vh;
    transform: rotate(-15.98deg);
    z-index: -1;
}

#laptopLive {
    position: absolute;
    top: 64vh;
    right: 14vw;
    transform: rotate(15.68deg);
    z-index: -1;
}

/*Nav styling*/

/*Intruction*/
#intrHead {
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/avicii-concert_new.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 5vh;
    margin-top: 3vh;
    font-family: var(--intrumentFont);
    margin-bottom: 30vh;
}

a {
    color: white;
}

#fullpage {
    text-align: center;
    font-family: var(--intrumentFont);
}

#section1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/avicii-concert_new.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 5vh;
}

#section2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/artitsts/kygo1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 5vh;
}

#section3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/flStudio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 5vh;
}

#section4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/dj.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 5vh;
} 

#navItem0 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/concert.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 4vh;
}

#navItem1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/artitsts/marschmello2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 4vh;
}

#navItem2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/aviciiSchallplatte.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 4vh;
}

#navItem3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/eGuitar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 4vh;
}

.footer {
    background-color: var(--mainColor);
    color: white;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerItem > img {
    height: auto;
    width: 10vh;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: white;
}

#footerHead {
    color: white;
    font-size: 2rem;
    padding: 1vh;
}