@font-face {
    font-family: NotoMusic;
    src: url(../fonts/NotoMusic.ttf);
}

:root {
    --mainColor: #222222;
}

body {
    background-color: #222222;
}

#headlineBox {
    color: white;
    font-family: NotoMusic;
    height: 60vh;   
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3vh;
    background: rgb(52,21,57);
    background: linear-gradient(90deg, rgba(52,21,57,1) 30%, rgba(25,25,112,1) 72%); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 11%;
    z-index: 1;
}

#eGuitar {
    height: auto;
    width: 62vh;
    transform: rotate(-68.607deg);
    aspect-ratio: 571/185;
    position: absolute;
    top: 19vh;
    left: 28vh;
    z-index: -1;
}

#acousticGuitar {
    height: auto;
    width: 25vh;
    position: absolute;
    top: -1vh;
    right: 45vh;
    transform: rotate(-24.98deg);
    aspect-ratio: 232.15/588.07;
    z-index: -1;
}

#djController {
    height: auto;
    width: 50vh;
    left: 90vh;
    z-index: -1;
    transform: rotate(18.267deg);
    position: absolute;
    top: 1vh;
}

#laptopFL, #laptopLive {
    height: auto;
    width: 35vh;
}

#laptopFL {
    position: absolute;
    top: 64vh;
    left: 30vh;
    transform: rotate(-15.98deg);
    z-index: -1;
}

#laptopLive {
    position: absolute;
    top: 64vh;
    right: 14vw;
    transform: rotate(15.68deg);
    z-index: -1;
}