@font-face {
    font-family: NotoMusic;
    src: url(../fonts/NotoMusic.ttf);
}

@font-face {
    font-family: IntrumentSans;
    src: url(../fonts/InstrumentSans-Regular.ttf);
}

:root {
    --mainColor: #222222;
    --mainFont: NotoMusic;
    --intrumentFont: IntrumentSans;
    --secondColor: #000080;
}

body {
    background-color: var(--mainColor);
    margin: 0;
}

#headlineBox {
    color: white;
    font-family: var(--mainFont);
    height: 60vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3vh;
    background: rgb(52, 21, 57);
    background: linear-gradient(90deg, rgba(52, 21, 57, 1) 30%, rgba(25, 25, 112, 1) 72%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 11%;
    z-index: 1;
}

#eGuitar {
    height: auto;
    width: 62vh;
    transform: rotate(-68.607deg);
    aspect-ratio: 571/185;
    position: absolute;
    top: 19vh;
    left: 28vh;
    z-index: -1;
}

#acousticGuitar {
    height: auto;
    width: 25vh;
    position: absolute;
    top: -1vh;
    right: 45vh;
    transform: rotate(-24.98deg);
    aspect-ratio: 232.15/588.07;
    z-index: -1;
}

#djController {
    height: auto;
    width: 50vh;
    left: 90vh;
    z-index: -1;
    transform: rotate(18.267deg);
    position: absolute;
    top: 1vh;
}

#laptopFL,
#laptopLive {
    height: auto;
    width: 35vh;
}

#laptopFL {
    position: absolute;
    top: 64vh;
    left: 30vh;
    transform: rotate(-15.98deg);
    z-index: -1;
}

#laptopLive {
    position: absolute;
    top: 64vh;
    right: 14vw;
    transform: rotate(15.68deg);
    z-index: -1;
}

/*Nav styling*/

nav {
    font-family: var(--musicFont);
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    background: rgb(52, 21, 57);
    background: linear-gradient(90deg, rgba(52, 21, 57, 1) 30%, rgba(25, 25, 112, 1) 72%);
    position: sticky;
    top: 0;
}

.navItem {
    height: 20vh;
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

/*Intruction*/
#intrHead {
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/avicii-concert_new.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 5vh;
    margin-top: 3vh;
    font-family: var(--intrumentFont);
    margin-bottom: 30vh;
}

.intrBox {
    height: 30vh;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vh;
    border-radius: 2vh;
    margin-top: 5vh;
    background-color: var(--secondColor);
    position: relative;
    transform: rotate(2deg);
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.imgBox > img {
    height: auto;
    width: 50%;
    position: relative;
    bottom: 0;
}